<div class="flex flex-row">
    <!--
{{#data-portlets.data-notifications}}{{>Tiled}}{{/data-portlets.data-notifications}}
-->
    <ul class="flex fill-white">
        <li id="pt-notifications-alert" class="mw-list-item"><a href="/index.php/Special:Notifications"
        <li id="pt-notifications-alert" class="mw-list-item"><a href="/index.php/Special:Notifications"
                class="mw-echo-notifications-badge mw-echo-notification-badge-nojs"
                data-counter-num="0" data-counter-text="0" title="Your alerts">Alerts (0)</a></li>
        <li id="pt-notifications-notice" class="mw-list-item"><a href="/index.php/Special:Notifications"
                class="mw-echo-notifications-badge mw-echo-notification-badge-nojs"
                data-counter-num="0" data-counter-text="0" title="Your notices">Notices (0)</a></li>
    </ul>
</div>