<div class="w-1/2 m-auto">

	<header class="relative">
	<div id="nav" class="flex flex-row items-center  bg-gray-500 absolute rounded-full h-12 top-4 left-4 right-4 p-2 w-100 ">
		
		<div class="float-left items-center">{{>Logo}}</div>
		<div class="">
			{{>Notifications}}</div>
		<div class="float-right flex">
			{{>Dropdown}}{{>PersonalMenu}}
			{{>Search}}
		</div>

		</div>
	</header>
		{{>Sidebar}}
	{{>Notices}}
	<main id="content container" class="mw-body">
		<header class="content__header">
			{{>ContentIndicators}}
			{{>ContentHeading}}
			{{>ContentTagline}}
			{{>ContentNamespaces}}
			{{>ContentActions}}
		</header>
		{{>ContentBody}}
		{{#data-toc}}{{>TableOfContents}}{{/data-toc}}
	</main>
	<nav>
		{{>Languages}}
	</nav>
	{{>Footer}}

</div>
