<div role="navigation" id="{{id}}" class="{{class}} flex items-center" title="{{html-tooltip}}"
    aria-labelledby="{{id}}-label">
    <input type="checkbox" aria-labelledby="{{id}}-label" />
    <h3 id="{{id}}-label" {{{html-user-language-attributes}}} class="text-white">{{label}}</h3>
    <div class="mw-portlet-body flex">
        <ul {{{html-user-language-attributes}}} class="flex fill-white">
            {{{html-items}}}
        </ul>
        
        {{{html-after-portal}}}
    </div>
</div>
